body{
    min-width: 620px;
}
header{
    background-color: #1f2937;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    font-family: sans-serif;
    align-self: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 50px 0 50px;
}
.navbar ul{
    border: 2px solid transparent;
    display: flex;
    list-style-type: none;
}
.navbar a{
    border: 2px solid transparent;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.container1{
    background-color: #1f2937;
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.container1 .text1{
    border: 2px solid transparent;
    width: 300px;
    height: 150px;
    min-width: 300px;
}
.container1 .text1 h1{
    margin: 0;
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}
.container1 .text1 p{
    margin: 0;
    color: #E5E7EB;
    font-size: 18px;
}
.text1 button{
    background-color: #3882f6;
    border: none;
}
.container1 .image{
    border: 2px solid transparent;
    background-color: rgb(127, 127, 133);
    color: white;
    height: 150px;
    width: 300px;
    min-width: 300px;
    display: flex;
    justify-content:space-around;
    align-items:center;
    
}
.container2{
    border: 2px solid transparent;
    text-align: center;
}
.container2 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 125px;
}
.container2 div{
    border: 2px solid transparent;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card .cards{
    border: 2px solid rgb(20, 3, 247);
    height: 100px;
    width: 100px;
}
.container3{
    border: 2px solid transparent;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #e5e7eb;
}
.container3 div{
    border: 2px solid rgb(20, 3, 247);
    height:150px;
    width:525px;
    display: flex;
    flex-direction: column;
}
.container3 div .quote{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}
.container3 div .thor{
    align-self: end;
}
.container4{
    border: 2px solid rgb(20, 3, 247);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4 .box{
    border: 2px solid rgb(20, 3, 247);
    height: 75px;
    width: 650px;
    display: flex;
    justify-content:space-evenly;
    gap: 20px;
    background-color: #3882f6;
}
.container4 .box .contain1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container4 p{
    margin: 0;
}
.container4 .box .contain2{
    display: flex;
    align-self: center;
}
.contain1 p{
    color: white;
}
.contain1 p:nth-of-type(1){
    font-weight: bold;
}
.contain2 button{
    background-color: #3882f6;
    color: white;
    border-color: white;
}
footer p{
    text-align: center;
}