.navbar{
    border: 2px solid rgb(20, 3, 247);
    display: flex;
    justify-content: space-between;
}
.navbar ul{
    border: 2px solid rgb(20, 3, 247);
    display: flex;
    list-style-type: none;
}
.navbar a{
    border: 2px solid rgb(20, 3, 247);
    text-decoration: none;
}
.container1{
    border: 2px solid rgb(20, 3, 247);
    display: flex;
}
.container1 .image{
    border: 2px solid rgb(20, 3, 247);
    height: 200px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.container2{
    border: 2px solid rgb(20, 3, 247);
    text-align: center;
}
.container2 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container2 div{
    border: 2px solid rgb(3, 247, 84);
    display: flex;
    justify-content: center;
    gap: 20px;
}
.card .cards{
    border: 2px solid rgb(20, 3, 247);
    height: 100px;
    width: 100px;
}
.container3{
    border: 2px solid rgb(20, 3, 247);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 300px;
}
.container3 div{
    border: 2px solid rgb(20, 3, 247);
    height:150px;
    width:350px;
    display: flex;
    flex-direction: column;
}
.container3 div .thor{
    align-self: end;
}
.container4{
    border: 2px solid rgb(20, 3, 247);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container4 .box{
    border: 2px solid rgb(20, 3, 247);
    height: 75px;
    width: 400px;
}
footer p{
    text-align: center;
}